---
import { Icon } from "astro-icon/components";
---

<section class="px-[50px] py-[100px]" id="services">
  <div class="w-full flex flew-row justify-center items-center">
    <h2 class="text-white text-[34px] text-center py-10">¿Qué hacemos?</h2>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-3 gap-0">
    <div
      class="h-auto max-w-full flex flex-col justify-center items-center px-[70px] py-[100px] widget"
    >
      <h3 class="text-[2.5vh] text-center mb-5">
        Aplicaciones de AR/VR para entrenamiento, marketing o entretenimiento
      </h3>
      <Icon name="cubeVR" height={66} width={66} color={"FFF"} />
    </div>
    <div
      class="h-auto max-w-full flex flex-col justify-center items-center px-[70px] py-[100px] bg-white widget"
    >
      <h3 class="text-[2.5vh] text-center mb-5 text-black">
        Desarrollo de aplicaciones descentralizadas
      </h3>
      <Icon name="blockchain" height={66} width={66} color={"000"} />
    </div>
    <div
      class="h-auto max-w-full flex flex-col justify-center items-center px-[70px] py-[100px] widget"
    >
      <h3 class="text-[2.5vh] text-center mb-5">
        Evaluación de vulnerabilidades
      </h3>
      <Icon name="security" height={66} width={66} color={"FFF"} />
    </div>
    <div
      class="h-auto max-w-full flex flex-col justify-center items-center px-[70px] py-[100px] bg-white widget"
    >
      <h3 class="text-[2.5vh] text-center mb-5 text-black">
        Desarrollo de soluciones de seguridad personalizadas
      </h3>
      <Icon name="forceSecurity" height={66} width={66} color={"000"} />
    </div>
    <div
      class="h-auto max-w-full flex flex-col justify-center items-center px-[70px] py-[100px] widget"
    >
      <h3 class="text-[2.5vh] text-center mb-5">
        Implementación y diseño personalizado de bots
      </h3>
      <Icon name="bots" height={66} width={66} color={"FFF"} />
    </div>
    <div
      class="h-auto max-w-full flex flex-col justify-center items-center px-[70px] py-[100px] bg-white widget"
    >
      <h3 class="text-[2.5vh] text-center mb-5 text-black">
        Desarrollo de soluciones IoT
      </h3>
      <Icon name="IOT" height={66} width={66} color={"000"} />
    </div>
    <div
      class="h-auto max-w-full flex flex-col justify-center items-center px-[70px] py-[100px] widget"
    >
      <h3 class="text-[2.5vh] text-center mb-5">
        Estrategias para la transformación digital
      </h3>
      <Icon name="digital" height={66} width={66} color={"FFF"} />
    </div>
    <div
      class="h-auto max-w-full flex flex-col justify-center items-center px-[70px] py-[100px] bg-white widget"
    >
      <h3 class="text-[2.5vh] text-center mb-5 text-black">
        Diseño de Experiencia de Usuario (UX-UI)
      </h3>
      <Icon name="uxui" height={66} width={66} color={"000"} />
    </div>
    <div
      class="h-auto max-w-full flex flex-col justify-center items-center px-[70px] py-[100px] widget"
    >
      <h3 class="text-[2.5vh] text-center mb-5">
        Consultoría para la adopción de nuevas tecnologías
      </h3>
      <Icon name="transform" height={66} width={66} color={"FFF"} />
    </div>
    <div
      class="h-auto max-w-full flex flex-col justify-center items-center px-[70px] py-[100px] bg-white widget"
    >
      <h3 class="text-[2.5vh] text-center mb-5 text-black">
        Diseño de soluciones escalables para afrontar crecimiento
      </h3>
      <Icon name="solutions" height={66} width={66} color={"000"} />
    </div>
    <div
      class="h-auto max-w-full flex flex-col justify-center items-center px-[70px] py-[100px] widget"
    >
      <h3 class="text-[2.5vh] text-center mb-5">
        Implementación en plataformas blockchain
      </h3>
      <Icon name="web3" height={66} width={66} color={"FFF"} />
    </div>
    <div
      class="h-auto max-w-full flex flex-col justify-center items-center px-[70px] py-[100px] bg-white widget"
    >
      <h3 class="text-[2.5vh] text-center mb-5 text-black">
        Re-branding y mejora en la personalización de la experiencia de usuario
      </h3>
      <Icon name="rebrand" height={66} width={66} color={"000"} />
    </div>
    <div
      class="h-auto max-w-full flex flex-col justify-center items-center px-[70px] py-[100px] widget"
    >
      <h3 class="text-[2.5vh] text-center mb-5">
        Brainstorming y uso de técnicas de pensamiento lateral para resoluciones
        creativas
      </h3>
      <Icon name="brainstorming" height={66} width={66} color={"FFF"} />
    </div>
    <div
      class="h-auto max-w-full flex flex-col justify-center items-center px-[70px] py-[100px] bg-white widget"
    >
      <h3 class="text-[2.5vh] text-center mb-5 text-black">
        Implementación de metodología Design Thinking para la resolución de
        problemáticas
      </h3>
      <Icon name="designthinking" height={66} width={66} color={"000"} />
    </div>
    <div
      class="h-auto max-w-full flex flex-col justify-center items-center px-[70px] py-[100px] widget"
    >
      <h3 class="text-[2.5vh] text-center mb-5">
        Desarrollo de prototipos interactivos para evaluar y refinar ideas de
        manera temprana
      </h3>
      <Icon name="prototype" height={66} width={66} color={"FFF"} />
    </div>
  </div>
</section>

<script>
  ScrollReveal().reveal(".widget", { interval: 400 });
</script>
