---
---

<div class="flex flew-row">
  <div class="bg-slate-300 rounded-3xl max-w-[700px] max-h-[400px]"></div>
  <div>
    <h4>Life ID</h4>
    <p>
      I create inclusive, accessible digital products, with experience working
      with startups and enterprise products. I believe in using product design
      as a tool to elevate human interaction with technology that scale.
    </p>
  </div>
</div>
