---
---

<section class="h-[calc(100vh-80px)] text-white flex flex-col lg:px-[8rem]">
  <div class="flex flex-row items-center justify-center h-full">
    <div class="w-full title load-hidden">
      <div class="flex flew-row items-center">
        <div class="bg-white h-[1px] w-4"></div>
        <h6 class="mx-1">Hola! Somos I+D</h6>
      </div>
      <div class="w-full">
        <h1 class="text-white">El lugar donde</h1>
        <span>las ideas cobran vida</span>
      </div>
    </div>
    <div class="mt-10 w-full px-[15px] text load-hidden">
      <div class="bg-white h-[1px] w-8 mb-2"></div>
      <p class="w-full text-lg md:text-xl lg:text-2xl">
        Diseñamos experiencias utilizando la más alta innovación. Creemos en la
        utilización del diseño de productos como una herramienta para elevar la
        interacción humana con la tecnología.
      </p>
    </div>
  </div>
  <!-- <div class="w-full flex flex-col justify-center items-center" id="projects">
    <button class="border w-[180px] rounded-full h-[36px]">Start</button>
  </div> -->
  <div class="flex flex-col justify-center items-center">
    <a
      href="/projects/"
      class="border w-[250px] rounded-full h-[44px] text-white flex flex-col justify-center items-center"
      >Start</a
    >
  </div>
  <div class="h-[10vh] w-full flex flex-row justify-center items-center">
    <div class="bg-white w-[1px] line h-full"></div>
  </div>
</section>

<style>
  h6 {
    font-weight: 100;
    font-size: 3vh;
  }
  h1 {
    font-weight: 200;
    font-size: 10vh;
    line-height: 10vh;
  }

  span {
    font-weight: 600;
    font-size: 6.7vh;
  }
  p {
    font-weight: 100;
    font-size: 3vh;
  }

  button {
    font-size: 0.8rem;
  }
  button:hover {
    background-color: #fff;
    color: #000;
  }
  a:hover {
    background-color: #fff;
    color: #000;
  }
  .load-hidden {
    visibility: hidden;
  }
</style>

<script>
  ScrollReveal().reveal(".title", { delay: 300 });
  ScrollReveal().reveal(".text", { delay: 500 });
</script>
