---
interface Props {
  className: string;
  tagName: string;
  tagColor: string;
}

const { className = "", tagName = "", tagColor = "" }: Props = Astro.props;
const tagProp: { [key: string]: string } = {
  default: "bg-tag-lgray",
  gray: "bg-tag-gray",
  brown: "bg-tag-brown",
  orange: "bg-tag-orange",
  yellow: "bg-tag-yellow",
  green: "bg-tag-green",
  blue: "bg-tag-blue",
  purple: "bg-tag-purple",
  pink: "bg-tag-pink",
  red: "bg-tag-red",
};
---

<div class={`text-white ${className}`}>
  <p>{tagName.toUpperCase()} <span class="dot">•</span></p>
</div>

<style>
  p {
    font-size: 16px;
  }
</style>
