---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import BlogRender from "../components/blog_render.astro";
import Htmlbody from "../components/htmlbody.astro";
import { databaseId, notion } from "../lib/common_var";
import { searchPageWithSlug } from "../lib/notion_request";
import Tag from "../components/cards/tag.astro";
import type { NotionResult } from "../lib/types";

export async function getStaticPaths() {
  const response = await notion.databases.query({
    database_id: databaseId,
    sorts: [
      {
        property: "Created",
        direction: "ascending",
      },
    ],
  });

  return response.results.map((page) => {
    if (
      "properties" in page &&
      "formula" in page.properties.Slug &&
      "string" in page.properties.Slug.formula
    ) {
      return {
        params: { slug: page.properties.Slug.formula.string },
      };
    }
  });
}

const { slug } = Astro.params;
/* let result: NotionResult | undefined; */
let result: NotionResult;
/* Variable donde se van a guardar los posteos */
const post = [];

if (slug != undefined) {
  result = await searchPageWithSlug(slug);
  const imgName = result.card.title.replace(/\s/g, "").concat(".jpg");
  post.push({
    title: result.card.title,
    slug: result.card.slug,
    intro: result.card?.intro,
    cover: imgName,
    /* blocks: result.blocks, */
  });
}
---

<Htmlbody>
  <section class="main h-full">
    <div class="flex flex-row justify-between items-center px-[100px]">
      <a href="/home/">
        <Icon name="arrowBack" width={150} height={150} />
      </a>
      <h1>/{post[0].title}</h1>
    </div>
    <div
      class="w-full h-[60vh]"
      style={{
        backgroundImage: `url('/images/${post[0].cover}')`,
        backgroundSize: "cover",
        backgroundPosition: "center",
      }}
    >
    </div>
    <div class="px-[10vh] 2xl:px-[20rem] pt-[50px]">
      <h2 class="text-white">{post[0].intro}</h2>
    </div>
    <div class="px-[10vh] 2xl:px-[20rem] text-white">
      <BlogRender blocks={result.blocks} />
    </div>
    <div class="w-full h-[500px] flex flex-col justify-center items-center">
      <h3 class="text-white">¿Tienes un desafío para nuestro equipo?</h3>
      <div class="w-full flex flex-col justify-center items-center mt-3">
        <button class="border w-[250px] rounded-full h-[44px]"
          >Escribinos</button
        >
      </div>
    </div>
  </section>
</Htmlbody>

<script is:inline>
  function toggle(ele) {
    if (ele.lastElementChild.style.display === "none") {
      ele.lastElementChild.style.display = "block";
      ele.firstElementChild.style.transform = "rotate(90deg)";
    } else {
      ele.lastElementChild.style.display = "none";
      ele.firstElementChild.style.transform = "rotate(0deg)";
    }
  }
</script>

<style>
  .main {
    background-image: url("../images/background-intro.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: "100%";
    margin: 0;
    padding-bottom: 20;
  }
  h1 {
    font-weight: 100;
    font-size: 12vh;
  }
  h2 {
    font-weight: 500;
    font-size: 1.5rem;
  }
  h3 {
    font-weight: 200;
    font-size: 3rem;
  }
  button {
    font-size: 1rem;
  }
  button:hover {
    background-color: #fff;
    color: #000;
  }
</style>
