---
import { Icon } from "astro-icon/components";
---

<main class="h-[100vh] w-[100wv] flex flex-col justify-between p-[10vh]">
  <div class="w-full">
    <h1 class="text-white title load-hidden">
      En la intersección entre tecnología <br />y creatividad, nuestro equipo
      construye<br /> el futuro a través de
      <span><b>la innovación</b></span>
    </h1>
  </div>
  <div class="w-full flex flex-row items-end justify-end px-[150px]">
    <a href="home" class="button load-hidden">
      <Icon name="arrowNext" width={150} height={150} />
    </a>
  </div>
</main>

<style>
  .load-hidden {
    visibility: hidden;
  }
  main {
    background-image: url("../images/gradient-intro.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 10vh;
    line-height: 10vh;
  }
</style>

<script>
  ScrollReveal().reveal(".title", { delay: 500 });
  ScrollReveal().reveal(".button", { delay: 1000 });
</script>
