---
import { Icon } from "astro-icon/components";
---

<header class="w-full flex flex-col justify-between pt-[30px]">
  <nav class="flex flex-row items-center justify-between px-[100px]">
    <a href="https://www.flockit.com.ar/" target="_blank">
      <Icon name="logo" height={36} width={140} />
    </a>
    <ul class="flex flew-row w-[35vw] flex-row justify-between">
      <li>
        <a href="#projects" class="text-[20px]">Proyectos</a>
      </li>
      <li>
        <a href="#services" class="text-[20px]">Servicios</a>
      </li>
      <li>
        <a href="#skills" class="text-[20px]">Skills</a>
      </li>
      <li>
        <a href="#scope" class="text-[20px]">Alcance</a>
      </li>
      <li>
        <a href="#team" class="text-[20px]">Equipo</a>
      </li>
      <li>
        <a href="#contact" class="text-[20px]">Contacto</a>
      </li>
    </ul>
    <div>
      <Icon name="idLogo" height={69} width={55} />
    </div>
  </nav>
  <!-- <div class="line w-full bg-white h-[0.5px]"></div> -->
</header>

<style>
  a {
    font-weight: 100;
  }
  a:hover {
    font-weight: 200;
  }

  h4 {
    font-size: 1.4rem;
  }
</style>
